In [1]:
import pandas as pd
import openpyxl

In [9]:
data = openpyxl.load_workbook("2022_2학기강의목록.xlsx")
names = data.sheetnames

In [3]:
d = pd.read_excel('2022_2학기강의목록.xlsx')
col = d.columns[0:10]

In [4]:
df = pd.DataFrame()
# 인덱스를 지정해 시트 설정
for name in names:
    sub_df = pd.read_excel('2022_2학기강의목록.xlsx', sheet_name = name)
    if sub_df.columns[0] == 'Column1':
        sub_df.columns = col
    
    df = pd.concat([df,sub_df])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1446 entries, 0 to 63
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   학정번호          1446 non-null   object
 1   과목명           1446 non-null   object
 2   분반            390 non-null    object
 3   인증/
연계        96 non-null     object
 4   이수            1446 non-null   object
 5   학점            1446 non-null   int64
 6   시수            1446 non-null   int64
 7   담당교수          1375 non-null   object
 8   강의시간
(요일,교시)  1394 non-null   object
 9   강의유형          730 non-null    object
dtypes: int64(2), object(8)
memory usage: 124.3+ KB

In [10]:
df.to_csv("2022년2학기.csv", index=False)